# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [21]:
listx = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
unique = []

# Unique first elements ko collect karna
for i in listx:
    unique.append(i[0])
unique = set(unique) # Duplicate hata ke unique values lena

result = []
for i in unique:
    result.append([i])  # Pehle first element daalna
    for j in listx:
        if i == j[0]:  # Same first element wale tuples ko check karna
            result[-1].append(j[1])  # Second value ko append karna

# List ko tuple me convert karna
result = [tuple(sublist) for sublist in result]

print(result)

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [48]:
t = (1, 5, 7, 8, 10)
res = []
x = len(t)
res.append(t[0]*t[1])
for index in range(1,x-1):
      # Middle elements ke liye
        res.append(t[index] * t[index + 1] + t[index] * t[index - 1])

res.append(t[-1]*t[-2])
print(res)

[5, 40, 91, 136, 80]

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [92]:
t1 = (1, 2, 3, 0)
t2 = (1, 2, 4, 1)

s1 = len(t1)
s2 = len(t2)

F = True  # Default True rakho, taki koi bhi mismatch False kar sake

for i in range(min(s1, s2)):  # Dono tuples ki minimum length tak check karo
    if t1[i] != t2[i]:  # Agar ek bhi element alag mila to False return karo
        F = False
        break  

print(F)

False

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [98]:
# write your code here
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
l=0
t=0
s=0
d=0
for i in list1:
    if type(i)==list:
        l+=1
    elif type(i)==set:
        s+=1
    elif type(i)==tuple:
       t+=1
 

print(f"Lists: {l}, Tuples: {t}, Sets: {s}, Dictionaries: {d}")

Lists: 0, Tuples: 1, Sets: 2, Dictionaries: 0

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
num = int(input("Enter No of records-"))

student = []  # List to store student details

# Taking student details
for i in range(num):
    print(f"\nEnter Details of Student {i+1}-")
    name = input("Enter Student Name: ")
    education = input("Enter Higher Education: ")
    prskill = input("Enter Primary Skill: ")
    Ugy = input("Enter Year of Graduation: ")

    student.append((name, prskill, education, Ugy))  # Store all student details

# Taking Job Role Requirement
print("\nEnter Job Role Requirement")
rskill = input("Enter Required Skill: ")
reducation = input("Enter Required Higher Education: ")
rUgy = input("Enter Required Year of Graduation: ")

flag = False  # To check if a student is found

# Searching for matching student
for i in student:
    if i[1] == rskill and i[2] == reducation and i[3] == rUgy:  # Correct index
        print("\nMatching Student Found:")
        print(i)
        flag = True

if not flag:
    print("\nNo Student Found")

Enter No of records- 0

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [20]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
s1=set(ar1)
s2=set(ar2)
s3=set(ar3)
print(s1)
n=s1.intersection(s2)
x=s3.intersection(s2)
print(x )

#  another way 
x=list((s1 & s2) & s3) 
print(x)

{1, 5, 40, 10, 80, 20}
{80, 20}
[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [32]:
# write your code here
str1 = set("hands-on data science mentorship program with live classes at an affordable fee only on CampusX")
x = set("aeiou")  # Lowercase vowels
(x & str1)  # Common vowels
print("The number of Unique Element in Str Is : ",len(x))

The number of Unique Element in Str Is  5

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [46]:
# write your code 
str="01010101010"
x=set(str)
if len(x)==2:
    print("This iS binary String . ")
else:
    print("The str s not binary ")

This iS binary String .

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [49]:
# write your code here
lis=[[1, 2, 2, 4, 3, 6],[5, 1, 3, 4],[9, 5, 7, 1],[2, 4, 1, 3]]
x=set()
for i in lis:
    x.update(i)
print(x)

{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [12]:
# write your code here
lst1 = list({4, 9, 1, 17, 11, 26, 28, 54, 69})
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
x=set()
[itm for itm in lst1 if itm in lst2]

[9, 11, 26, 28]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [30]:
testd = {"CampusX": [5, 7, 7, 7, 7], "is": [6, 7, 7, 7], "Best": [9, 9, 6, 5, 5]}

max_value = float('-inf')  # Initialize with a very small value
keyn=""
for key in testd:
    current_max = max(testd[key])  # Get the max value of the current list
    if current_max > max_value:
        max_value = current_max
        keyn=i

print("Maximum value:",keyn)

Maximum value: CampusX

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [40]:
test = 'CampusX best for DS students.'
repl_dict = {"best": "is the best channel", "DS": "Data-Science"}

result = []

for word in test.split():
    if word in repl_dict:  # Check if the word exists in the replacement dictionary
        result.append(repl_dict[word])  # Append the replacement
    else:
        result.append(word)  # Append the original word if no replacement is found

final_result = ' '.join(result)
print(final_result)

CampusX best for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [53]:
# write your code here
test_list = ["DataScience", 3, "is", 8]
res=[]
key_list = ["name", "id"]
n=len(test_list)
for i in range(0,n,2):
    res.append({key_list[0]:test_list[i] ,key_list[1]:test_list[i+1]})
print(res)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [61]:
# write your code here

listt=[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
d={}
for i,j in listt:
    d [i]=[j]
print(d)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
# write your code here
dic={'c': [3], 'b': [12, 10], 'a': [19, 4]}
res=[]
for i in sorted(d):
    res[i]=sorder(d[i]