In [7]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [17]:
z_df=pd.read_csv('zumato_data_sets/zomato_restaurants.csv')

,Unnamed: 0,Restaurant ID,Restaurant Name,Country Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
2481,2480,35217,Joey's Pizza,India,1.0,Mumbai,"6 & 7, Upvan Building, Near Indian Oil Colony,...",Azad Nagar,"Azad Nagar, Mumbai",72.829976,...,Indian Rupees(Rs.),No,No,No,No,2.0,4.0,Green,Very Good,5145.0
2482,2481,18447068,Cafe Hydro,India,1.0,Mumbai,"Esspee Tower, Rajendra Nagar, Dattapada Road, ...",Borivali East,"Borivali East, Mumbai",72.86238123,...,Indian Rupees(Rs.),No,No,No,No,3.0,4.0,Green,Very Good,156.0
2498,2497,18318116,R' ADDA,India,1.0,Mumbai,"Ramee Guestline Hotel, 462, A B Nair Road, Juh...","Ramee Guestline Hotel, Juhu","Ramee Guestline Hotel, Juhu, Mumbai",72.825451,...,Indian Rupees(Rs.),No,No,No,No,3.0,4.0,Green,Very Good,536.0