In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [3]:
z_df=pd.read_csv('zumato_data_sets/zomato_restaurants.csv')

In [27]:
z_df[(z_df['City']=='Mumbai')  (z_df['Votes']==500)]

Empty DataFrame
Columns: [Unnamed: 0, Restaurant ID, Restaurant Name, Country Name, Country Code, City, Address, Locality, Locality Verbose, Longitude, Latitude, Cuisines, Average Cost for two, Currency, Has Table booking, Has Online delivery, Is delivering now, Switch to order menu, Price range, Aggregate rating, Rating color, Rating text, Votes]
Index: []

[0 rows x 23 columns]