In [2]:
import numpy as np
import pandas as pd

###`Q-1:` Write a program to create an empty series.

In [3]:
# code here
emptydata=pd.Series(dtype='int32').size

###`Q-2:` Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [4]:
# code here
L1=pd.Series([1,2,3,4,5,6,7,8,9])
L2=pd.Series([10,11,12,13,14,15,16,17,18,19])
x=L2-L1
print(x.dropna())
x2=L2*L1
print("*")
print(x2)
print("/")
x3=L1/L2
print(x3.dropna())
print("+")
x4=L1+L2
print(x4.dropna())

0    9.0
1    9.0
2    9.0
3    9.0
4    9.0
5    9.0
6    9.0
7    9.0
8    9.0
dtype: float64
*
0     10.0
1     22.0
2     36.0
3     52.0
4     70.0
5     90.0
6    112.0
7    136.0
8    162.0
9      NaN
dtype: float64
/
0    0.100000
1    0.181818
2    0.250000
3    0.307692
4    0.357143
5    0.400000
6    0.437500
7    0.470588
8    0.500000
dtype: float64
+
0    11.0
1    13.0
2    15.0
3    17.0
4    19.0
5    21.0
6    23.0
7    25.0
8    27.0
dtype: float64

###`Q-3` Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [5]:
# code here
L1=[2, 4, 6, 8, 10]
L2=[1, 4, 5, 7, 10]
x1=pd.Series(L1)
x2=pd.Series(L2)
x2[x1>x2]

0    1
2    5
3    7
dtype: int64

###`Q-5.`Write a function to change the data type of given a column or a Series. Function takes series and data type as input, returns the converted series.
```
series = pd.Series([1,2,'Python', 2.0, True, 100])
change to float type data
```
Note: Read about pd.to_numeric()

In [6]:
# code here

def changetype(data):
    return pd.Series(pd.to_numeric(data,errors='coerce'))
data = pd.Series([1,2,'Python', 2.0, True, 100])
x=changetype(data)
print(x.dropna())

0      1.0
1      2.0
3      2.0
4      1.0
5    100.0
dtype: float64

Download data - https://drive.google.com/file/d/1LRhXwbEodeWXtzPhJCX0X9Lf_BECzvqb/view?usp=share_link
All Batsman runs series in IPL 2008 to 2022.

Below questions are based on this data.

###`Q-6` Find top 10 most run getter from the series.

In [40]:
# code here
ipl=pd.read_csv('batsman_runs_series.csv')
# ipl=ipl.squeeze()
x=ipl.sort_values('batsman_run',ascending=False)
x.head(10)

             batter  batsman_run
569         V Kohli         6634
462        S Dhawan         6244
130       DA Warner         5883
430       RG Sharma         5881
493        SK Raina         5536
27   AB de Villiers         5181
108        CH Gayle         4997
339        MS Dhoni         4978
452      RV Uthappa         4954
256      KD Karthik         4377

In [41]:
ipl

             batter  batsman_run
0    A Ashish Reddy          280
1          A Badoni          161
2        A Chandila            4
3          A Chopra           53
4       A Choudhary           25
..              ...          ...
600      Yash Dayal            0
601   Yashpal Singh           47
602     Younis Khan            3
603    Yuvraj Singh         2754
604          Z Khan          117

[605 rows x 2 columns]

###`Q-7` No of players having runs above 3000

In [57]:
# code here
ipl[ipl['batsman_run']>3000]

             batter  batsman_run
27   AB de Villiers         5181
46        AM Rahane         4074
60        AT Rayudu         4190
108        CH Gayle         4997
130       DA Warner         5883
169    F du Plessis         3403
174       G Gambhir         4217
251      KA Pollard         3437
256      KD Karthik         4377
263        KL Rahul         3895
328       MK Pandey         3657
339        MS Dhoni         4978
430       RG Sharma         5881
452      RV Uthappa         4954
462        S Dhawan         6244
493        SK Raina         5536
511       SR Watson         3880
519       SV Samson         3526
569         V Kohli         6634
597       YK Pathan         3222

###`Q-8` No of players having runs above mean value?

In [61]:
# code here
run=ipl['batsman_run']
mean=run.mean()
print(mean)
ipl[ipl['batsman_run']>mean]

4608.3

             batter  batsman_run
27   AB de Villiers         5181
108        CH Gayle         4997
130       DA Warner         5883
339        MS Dhoni         4978
430       RG Sharma         5881
452      RV Uthappa         4954
462        S Dhawan         6244
493        SK Raina         5536
569         V Kohli         6634

Download data - https://drive.google.com/file/d/1QZuZ5bypUInfVvarHACLAi8tXXHvb8xd/view?usp=share_link

file name - items.csv

###`Q-9`
    i. Read `items.csv` making `item_name` as index.
    ii. Show no of nan values
    ii. Item price is given in $, so convert it to rupees without currency symbol.
    iii. Make data type of newly made series as float.
    iv. Fill nan with mean of the series


How csv file looks

```
item_name	item_price
Chips and Fresh Tomato Salsa	$2.39
Izze	$3.39
Nantucket Nectar	$3.39
Chips and Tomatillo-Green Chili Salsa	$2.39
Chicken Bowl	$16.98

```

In [113]:
# code here
person=pd.read_csv('items.csv',index_col='item_name')
print(person)
nanvalue=person[person.isnull()].size
print("The number of nan value is ",nanvalue)
print("Conver the currency $ to ₹.")

person

                                      item_price
item_name
Chips and Fresh Tomato Salsa              $2.39
Izze                                      $3.39
Nantucket Nectar                          $3.39
Chips and Tomatillo-Green Chili Salsa     $2.39
Chicken Bowl                             $16.98
...                                          ...
Steak Burrito                            $11.75
Steak Burrito                            $11.75
Chicken Salad Bowl                       $11.25
Chicken Salad Bowl                        $8.75
Chicken Salad Bowl                        $8.75

[4622 rows x 1 columns]
The number of nan value is  4622
Conver the currency $ to ₹.

                                      item_price
item_name
Chips and Fresh Tomato Salsa              $2.39
Izze                                      $3.39
Nantucket Nectar                          $3.39
Chips and Tomatillo-Green Chili Salsa     $2.39
Chicken Bowl                             $16.98
...                                          ...
Steak Burrito                            $11.75
Steak Burrito                            $11.75
Chicken Salad Bowl                       $11.25
Chicken Salad Bowl                        $8.75
Chicken Salad Bowl                        $8.75

[4622 rows x 1 columns]

In [110]:
# x=person['item_price'] = '₹' + person['item_price'].astype(float)
# person['item_price'] = person['item_price'].str.split('$').replace('₹', '', regex=True)
# person['item'].str.replace('₹')
# # x.astype(float)

AttributeError: Can only use .str accessor with string values!

###`Q-10`:
    i. Find mean price
    ii. Find 30th and 6th percentile value
    iii. Plot Histogram on price with bin size 50
    iv. No of items price lies between [1000 to 2000]

In [137]:
# code here
person['item_price'].mean

<bound method Series.mean of item_name
Chips and Fresh Tomato Salsa              $2.39
Izze                                      $3.39
Nantucket Nectar                          $3.39
Chips and Tomatillo-Green Chili Salsa     $2.39
Chicken Bowl                             $16.98
                                          ...
Steak Burrito                            $11.75
Steak Burrito                            $11.75
Chicken Salad Bowl                       $11.25
Chicken Salad Bowl                        $8.75
Chicken Salad Bowl                        $8.75
Name: item_price, Length: 4622, dtype: object>

In [148]:
person=person['item_price']isin([30, 60])
person['item_price']

KeyError: 'item_price'