In [1]:
import numpy as np
import pandas as pd

###`Q-1:` Write a program to create an empty series.

In [7]:
# code here
emptydata=pd.Series(dtype='int32').size

###`Q-2:` Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [36]:
# code here
L1=pd.Series([1,2,3,4,5,6,7,8,9])
L2=pd.Series([10,11,12,13,14,15,16,17,18,19])
x=L2-L1
print(x.dropna())
x2=L2*L1
print("*")
print(x2)
print("/")
x3=L1/L2
print(x3.dropna())
print("+")
x4=L1+L2
print(x4.dropna())

0    9.0
1    9.0
2    9.0
3    9.0
4    9.0
5    9.0
6    9.0
7    9.0
8    9.0
dtype: float64
*
0     10.0
1     22.0
2     36.0
3     52.0
4     70.0
5     90.0
6    112.0
7    136.0
8    162.0
9      NaN
dtype: float64
/
0    0.100000
1    0.181818
2    0.250000
3    0.307692
4    0.357143
5    0.400000
6    0.437500
7    0.470588
8    0.500000
dtype: float64
+
0    11.0
1    13.0
2    15.0
3    17.0
4    19.0
5    21.0
6    23.0
7    25.0
8    27.0
dtype: float64

###`Q-3` Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [45]:
# code here
L1=[2, 4, 6, 8, 10]
L2=[1, 4, 5, 7, 10]
x1=pd.Series(L1)
x2=pd.Series(L2)
x2[x1>x2]

0    1
2    5
3    7
dtype: int64

###`Q-5.`Write a function to change the data type of given a column or a Series. Function takes series and data type as input, returns the converted series.
```
series = pd.Series([1,2,'Python', 2.0, True, 100])
change to float type data
```
Note: Read about pd.to_numeric()

In [61]:
# code here

def changetype(data):
    return pd.Series(pd.to_numeric(data,errors='coerce'))
data = pd.Series([1,2,'Python', 2.0, True, 100])
x=changetype(data)
print(x.dropna())

0      1.0
1      2.0
3      2.0
4      1.0
5    100.0
dtype: float64

Download data - https://drive.google.com/file/d/1LRhXwbEodeWXtzPhJCX0X9Lf_BECzvqb/view?usp=share_link
All Batsman runs series in IPL 2008 to 2022.

Below questions are based on this data.

###`Q-6` Find top 10 most run getter from the series.

In [ ]:
# code here

###`Q-7` No of players having runs above 3000

In [ ]:
# code here

###`Q-8` No of players having runs above mean value?

In [ ]:
# code here

Download data - https://drive.google.com/file/d/1QZuZ5bypUInfVvarHACLAi8tXXHvb8xd/view?usp=share_link

file name - items.csv

###`Q-9`
    i. Read `items.csv` making `item_name` as index.
    ii. Show no of nan values
    ii. Item price is given in $, so convert it to rupees without currency symbol.
    iii. Make data type of newly made series as float.
    iv. Fill nan with mean of the series


How csv file looks

```
item_name	item_price
Chips and Fresh Tomato Salsa	$2.39
Izze	$3.39
Nantucket Nectar	$3.39
Chips and Tomatillo-Green Chili Salsa	$2.39
Chicken Bowl	$16.98

```

In [ ]:
# code here

###`Q-10`:
    i. Find mean price
    ii. Find 30th and 6th percentile value
    iii. Plot Histogram on price with bin size 50
    iv. No of items price lies between [1000 to 2000]

In [ ]:
# code here